@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  background-color: black;
  color: white;
  padding: 1rem;
}

.ProseMirror {
  width: 30rem;
  height: 20rem;
  padding: 1rem;
  box-sizing: border-box;
  border: 2px solid black;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
